section.callback-form
    .content-container
        .callback-form__decor-left
            .decor-phone
        .callback-form__decor-right 
            .decor-group-2
        .callback-form__title
            h2 Обсудить проект
            p.callback-form__subtitle Расскажите о своих бизнес-целях и мы поможем<br/> вам в их достижении
        form.callback-form__form(action="GET")
            .input-wrapper
                input(type="text" placeholder="Имя" )
                input(type="text" placeholder="Telegram/Viber")
                input(type="text" placeholder="Email") 
            input.btn.def-btn(type="submit" value="Отправить")
        .callback-form__mob-img 
            img(src="img/form-mob-img.svg", alt="")