footer.footer
    .content-container
        .row 
            .col 
                a(href="#").menu__logo.logo 
                    img(src="img/logo.svg" alt="logo")
                .soc-icons-row                    
                    a(href="#").soc-icon.ico_inst
                    a(href="#").soc-icon.ico-fbook
                    a(href="#").soc-icon.ico-tg 
                    a(href="#").soc-icon.ico-viber
                    a(href="#").soc-icon.ico-watsap
            .col
                .phone-numbers
                    .phone-numbers__item
                        .soc-icon.ico-viber  
                        a(href="tel:+79805585949" ) Валерия: +79805585949
                    .phone-numbers__item
                        .soc-icon.ico-viber  
                        a(href="tel:+79805585949" ) Валерия: +79805585949
                    .phone-numbers__item
                        .soc-icon.ico-viber  
                        a(href="tel:+79805585949" ) Валерия: +79805585949
            .col
                .e-mail 
                    a(href="email:hr@dv-s.com") hr@dv-s.com
        p.copyright Developers 2018-2021 © All rights reserved