section.main 
    .content-container
        .main__decor-top              
            .decor-teal-ball  
        .row 
            .col
                .main__content
                    h1.main__title Разработка интернет-магазина с нуля за неделю
                    p.main__text 
                        |Дизайн интернет магазина, элементов микро UX, корзин, личного кабинета - 
                        |от фирменного стиля до пользовательского интерфейса в сжатые сроки 
                        |с командой Virtual Designers
                    a.btn.def-btn Заказать
            .col
                .main__img
                    img(src="img/cart.svg", alt="")
    .main__decor-bot 
        .decor-group-1