.menu
    .content-container
        .menu__container
            .col 
                a(href="#").menu__logo.logo 
                    img(src="img/logo.svg" alt="logo")
            .col
                .nav__container
                    ul.nav
                        li
                            a.nav__item(href="") Услуги
                        li
                            a.nav__item(href="") Портфолио
                        li
                            a.nav__item(href="") Этапы
                        li
                            a.nav__item(href="") Дизайнеры
                    a.btn.nav__btn Заказать
                .gamburger-menu
                    .gamburger-menu__ico
                    .gamburger-menu__ico
                    .gamburger-menu__ico
    .nav__mobile 
        ul.nav
            li
                a.nav__item(href="") Услуги
            li
                a.nav__item(href="") Портфолио
            li
                a.nav__item(href="") Этапы
            li
                a.nav__item(href="") Дизайнеры        
