.menu
    .content-container
        .menu__container
            .col 
                .menu__logo.logo 
                    img(src="img/logo.svg" alt="logo")
            .col
                .nav__container
                    ul.nav
                        li
                            a.nav__item(href="") Услуги
                        li
                            a.nav__item(href="") Портфолио
                        li
                            a.nav__item(href="") Этапы
                        li
                            a.nav__item(href="") Дизайнеры
                    a.btn.nav__btn Заказать