mixin card(data = [])
    .card        
        .card__content
            p.card__title 1. Анализ
            p.card__text Для того, чтобы онлайн-магазин приносил выгоду, перед его запуском необходимо провести анализ других предложений рынка, оценить конкурентов и найти наиболее удобное решение.        
        .card__img
            img(src="img/step-card-img_1.svg" alt="step-img")
