section.requisition
    .content-container
        .row
            .col 
                h2.requisition__title Необходимо больше информации?
                p.requisition__text Если Вы владелец онлайн-магазина или только начинаете свой путь в электронной коммерции и вам нужен уникальный дизайн онлайн магазина для стартапа, обратитесь к нашему веб дизайнеру. За выгодную цену и короткий период времени, он поможет  визуализировать ваш веб проект.
                a.btn.def-btn(href="#") Оставить заявку
            .col
                .requisition__img 
                    img(src="img/requisition-img.png" alt="")