section.service
    .content-container
        h2.service__title Что входит в услугу по созданию дизайна интернет-магазина?
        - for (let x = 0; x <= 4; x++) 
            .tabs 
                .tab-item
                    .row 
                        .col
                            .row
                                .tab__status
                                p.tab__title Дизайн портала
                        .col
                            .tab__arrow
                    .tab__content
                        p Дизайн портала — это оформление контента, совокупность всех графических элементов на веб-странице. Основная задача дизайна — познакомить пользователя со страницей. Продуманный дизайн создает нужное впечатление о компании.
                        p Дизайн портала — это оформление контента, совокупность всех графических элементов на веб-странице. Основная задача дизайна — познакомить пользователя со страницей. Продуманный дизайн создает нужное впечатление о компании.

                                  
