section.steps    
    .content-container
        .steps__decor-top
            .decor-ball-white
        h2.steps__title Этапы разработки интернет-магазина
        .row
            +card()
            +card()
            +card()
            +card()
        .slider-nav 
            .slider-nav__items
                .slider-nav__prew.slider-nav__nav
                .slider-nav__next.slider-nav__nav
        .steps__decor-bottom
            .decor-wave-blue