.steps 
    .content-container
        h2.steps__title Этапы разработки интернет-магазина
        .row
            +card()
            +card()
            +card()
            +card()
        .slider-nav 
            .slider-nav__items
                .slider-nav__prew.slider-nav__nav
                .slider-nav__next.slider-nav__nav
