.main {
    position: relative;
    background-image: url(../img/decor-semicercle-light-blue.png);
    background-repeat: no-repeat;
    background-position: right 80px;
    &__content {
        padding: 170px 0 180px 0;
        position: relative;
        z-index: 999;
    }

    &__title {
        max-width: 685px;
        margin-bottom: 20px;
    }

    &__text {
        max-width: 432px;
        margin-bottom: 60px;
    }

    .col {
        width: 50%;
    }

    &__decor-top {
        top: 120px;
        left: -135px;
        position: absolute;
    }

    &__decor-bot{
        position: absolute;
        left: 0;
        bottom: 40px;
    }
}

.main__img {
    position: absolute;
    width: 776px;
    height: 613.75px;
    top: 110px;
}

@media (max-width: 1920px) {
    .main__img {
        width: 40.4vw;
    }
}

@media (max-width:1199px){
    .main{
        .row{
            flex-direction: column;
            align-items: center;
        }

        .col{
            width: 100%;
            &:first-child{
                order: 2;
            }
        }        

        &__img{
            position: static;
            width: 100%;
            height: auto;
        }

        &__decor-bot{
            display: none;
        }

        &__content{
            padding:0;
        }
    }
}