.menu{
    background-color: $blue-color;
    &__container{
        display: flex;
        justify-content: space-between;        
        padding: 18px 0;
    }

    .nav{
        display: flex;
        list-style: none;
        gap: 35px;

        &__item{
            text-decoration: none;
            font-size: 16px;
            color: #fff;

        }

        &__btn{
            width: 170px;
            padding: 9.5px 0;
            transition: border .5s;
            box-sizing: border-box;
            border: 2px solid rgba(#FFFFFF, 0);

            &:hover{
                border: 2px solid rgba(#FFFFFF, 1);
                transition: .5s;
            }

            &:active{
                background-color: #fff;
                color: $deep-vlue-color;
            }
        }

        &__container{
            display: flex;
            align-items: center;
            gap: 30px;
        }
    }
}