.requisition{
    overflow-x: hidden;
    position: relative;
   
    .content-container{
        padding-top: 214px;
        padding-bottom: 180px;
    }

    &__title{
        margin-bottom: 50px;
    }

    &__text{
        margin-bottom: 45px;
        max-width: 670px;
        font-size: 18px;
    }

    &__img{
        position: absolute;
        right: -235px;
        top: 137px;
    } 

    &__decor{
        position: absolute;
        top: 150px;
        left: 8%;
    }
}

@media (max-width: 1199px){
    .requisition{

        .content-container{
            padding: 50px 20px;
        }
        &__title{
            text-align: center;
        }        
        .row{
            flex-direction: column;            
        }
        .col{
            flex: 1;
        }
        .col{
            &:first-child{
                order:2;
            }
        }
        &__img{
            position: static;
            margin-bottom: 30px;
        }
        &__decor{
            display: none;
        }
        &__text{
            margin-bottom: 35px;
        }
    }    
}