.requisition{
    .content-container{
        padding-top: 214px;
        padding-bottom: 180px;
    }

    &__title{
        margin-bottom: 50px;
    }

    &__text{
        margin-bottom: 45px;
        max-width: 670px;
        font-size: 18px;
    }

    &__img{
        position: absolute;
        right: -235px;
        top: 137px;
    }   
}

@media (max-width:1920px){
    .requisition__img{
        // width: 32.15vw;
    }
}