.steps{
    padding: 120px 0;
    overflow-x: hidden;
    position: relative;

    &__title{
        text-align: center;
        margin-bottom: 80px;
    }

    .row{
        gap: 25px;
        transition: 1s;
    }

    &__decor-top{
        position: absolute;
        top: 130px;
        left: -187px;
        top: 0;
    }

    &__decor-bottom{
        position: absolute;
        bottom: -73px;
        right: -190px;
    }
}


.card {
    border: 2px solid #67aefc;
    border-radius: 15px;
    display: flex;
    padding: 70px 70px 60px 70px;
    align-items: center;
    flex: 0 0 auto;

    &__title{
        font-weight: 700;
        font-size: 21px;
        margin-bottom: 20px;
    }

    &__text{
        width: 300px;
        font-size: 18px;
    }
}

.slider-nav{
    display: flex;
    justify-content: center;
    margin-top: 85px;

    &__items{
        display: flex;
        gap:30px;
    }

    &__nav{
        width: 60px;
        height: 60px;
        border: 2px solid #67AEFC;
        border-radius: 15px;
        cursor: pointer;
        background-color: #fff;
        transition: background-color .5s;

        &:hover{
            background-color: $deep-vlue-color;
            transition: .5s;
        }
    }

    &__prew{
        background-image: url(../img/slider-nav-prew.svg);
        background-repeat: no-repeat;
        background-position: center center;

        &:hover{
            background-image: url(../img/arrow-white-left.png);           
        }
    }

    &__next{
        background-image: url(../img/slider-nav-next.svg);
        background-repeat: no-repeat;
        background-position: center center;

        &:hover{
            background-image: url(../img/arrow-white.svg);
        }
    }
}

@media(max-width:890px){
    .card{
        flex-direction: column;
    }
}