@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap');

@import "variables";

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

img{
    width: 100%;
}

h1{
    font-size: 50px;
    font-weight: 900;
    margin: 0;
}

h2{
    font-weight: 800;
    font-size: 32px;
    margin: 0;
}

a{
    text-decoration: none;
}

p{
    margin: 0;
    line-height: 140%;
}

.btn{
    background-color: $green-color;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    
}

.def-btn{
    width: 270px;
    padding: 20px 0;
    border: 2px solid rgba($deep-vlue-color, 0);
    box-sizing: border-box;
    transition: border .5s;

    &:hover{
        border: 2px solid rgba($deep-vlue-color, 1);
        transition: .5s;
    }

    &:active{
        background-color: $deep-vlue-color;
        color: #fff;
    }
}

.content-container{
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    // background-color: rgba(rgb(11, 117, 64), 0.2);
}

.row{
    display: flex;
}

.logo{
    width: 242px;
    height: 59px;
}

.decor-teal-ball{
    width: 53px;
    height: 53px;
    background-image: url(../img/decor-ball__teal.svg);    
}

.decor-group-1{
    width: 236px;
    height: 183px;
    background-image: url(../img/decor-group-1.svg);
}

.decor-group-2{
    width: 184px;
    height: 145px;
    background-image: url(../img/decor-group-2.svg);
}

.decor-bag{
    width: 133px;
    height: 148px;
    background-image: url(../img/decor-bag.svg);
}

.decor-ball-white{
    width: 70px;
    height: 70px;
    background-image: url(../img/decor-ball__white.svg);
}

.decor-ball-white_big{
    width: 109px;
    height: 109px;
    background-image: url(../img/decor-ball__white.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.decor-ball-teal_big{
    width: 59px;
    height: 59px;
    background-image: url(../img/decor-ball__teal.svg);
    background-size: cover;
}

.decor-wave-blue{
    width: 190px;
    height: 70px;
    background-image: url(../img/decor-wave-blue.svg);
}

.decor-wave-pink{
    width: 216px;
    height: 175px;
    background-image: url(../img/decor-wave-pink.svg);
}

.decor-phone{
    width: 272px;
    height: 297px;
    background-image: url(../img/decor-phone.svg);
}

@import "menu";
@import "main";
@import "service";
@import "steps";
@import "portfolio";
@import "requisition";
@import "callback-form";
@import "footer";