@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap');

@import "variables";

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

img{
    width: 100%;
}

h1{
    font-size: 50px;
    font-weight: 900;
    margin: 0;
}

h2{
    font-weight: 800;
    font-size: 32px;
    margin: 0;
}

a{
    text-decoration: none;
}

p{
    margin: 0;
    line-height: 140%;
}

.btn{
    background-color: $green-color;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    
}

.def-btn{
    width: 270px;
    padding: 20.5px 0;
}

.content-container{
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    // background-color: rgba(rgb(11, 117, 64), 0.2);
}

.row{
    display: flex;
}

.logo{
    width: 242px;
    height: 59px;
}

@import "menu";
@import "main";
@import "service";
@import "steps";
@import "portfolio";
@import "requisition";
@import "callback-form";